<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Evtanazie

	link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-3.3.1.min.css")
	link(rel="stylesheet", href="libs/bs elements/assets/css/main.css")
	link(rel="stylesheet", href="libs/bootstrap-3.3.7/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/bs elements/bootstrap_skin.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.carousel.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.theme.default.css")
	link(rel="stylesheet", href="css/main.css")
		
body
	header
		.face
			.container-fluid.clearfix
				.row
					.col-md-3
						.myebalo
					.col-md-6
						.contacts
							.descr
								h1 Top internet in the Saratov
								p hey,debic, podkluchay,ne toopi
					.col-md-3
						.soc-area
							a(href="#").soc-buttons.vk VK
							a(href="#").soc-buttons.ok OK
							a(href="#").soc-buttons.fb FB
		nav.navbar
			.container-fluid
				ul
					li
						a(href="#")
							span.glyphicon.glyphicon-tower
							p Internet in apartament
					li
						a(href="#")
							span.glyphicon.glyphicon-briefcase
							p Internet for business
					li
						a(href="#")
							span.glyphicon.glyphicon-certificate
							p Wi-fi for evryone
					li
						a(href="#")
							span.glyphicon.glyphicon-phone-alt
							p telephony
					li
						a(href="#")
							span.glyphicon.glyphicon-cloud
							p cloud observation
					li
						a(href="#")
							span.glyphicon.glyphicon-ok
							p Payment
					li
						a(href="#")
							span.glyphicon.glyphicon-user
							p Personal Area
	.carousel-content
			.owl-carousel.owl-theme
				.item
					.img.one
				.item
					.img.two
				.item
					.img.three
	.price-list.bcb
		.container
			h2 Tariffs
			.row
				//- .col-md-3
				//- 	.tariff
				//- 		.card
				//- 			h3 Test
				//- 			p Text test
				//- 		.discr
				//- 			p Name
				//- 			p Speed
				//- 			p Babki
				.col-md-4
					a(href="#").tariff
						.card
							h3 Russky
							p light
						.discr
							p.name Russky.light
							p.speed 1mb/s
							p 7000
				.col-md-4
					a(href="#").tariff
						.card
							h3 Tadzhik
							p Medium
						.discr
							p Tadzhik.Medium
							p 10mb/s
							p 4pack natsvay
				.col-md-4
					a(href="#").tariff
						.card
							h3 Kazakh
							p Heavy
						.discr
							p Kazakh.Heavy
							p 320kb/s
							p 10 Tenge
	.advantages
		h2 Преимущества
		.container
			.row
				.col-md-4
					.img
				.col-md-8
					.discr
						p у нас их нет  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis iusto doloremque sapiente sequi ipsam adipisci veniam numquam dolorum nihil, vitae nam, ab minus nobis qui natus exercitationem deserunt voluptatibus aliquid tenetur inventore. Exercitationem unde inventore placeat, ipsum nostrum quas.
	footer
		.container
			.row
				.col-md-6
					.discr
						p (c)NiQ Knaifovski INC.
						p Читайте нас в 
							a(href="#") ВКунтукт 
							a(href="#") Однокекники 
							a(href="#") Лицекнига 
						br
						p Партнеры, там адреса хуадреса
				.col-md-6
					.discr
						p Карта 
							a(href="#") хуарта
						p Телефон 
							a(href="#") шмалефон
						p мыло  
							a(href="#") шмыло 
						p тут типо иконки 
							a(href="#") награды всякие


	script(src="libs/jquery/jquery-3.2.1.min.js")
	script(src="libs/bootstrap-3.3.7/dist/js/bootstrap.min.js")
	script(src="libs/owl-carousel/dist/owl.carousel.min.js")
	script(src="js/common.js")